@model Electro_shopp.ViewModel.ItemViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Add Products</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function () {
            SaveItem();
        });
    });
    function ResultItem() {                 
        $("#CategoryId").val("1");
        $("#ItemCode").val("");
        $("#ItemName").val("");
        $("#Description").val("");
        $("#ItemPrice").val("");
        $("#ImagePath").val("");
    }

    function SaveItem() {
        var formData = new FormData();
        formData.append("CategoryId", $("#CategoryId").val());
        formData.append("ItemCode", $("#ItemCode").val());
        formData.append("ItemName", $("#ItemName").val());
        formData.append("Description", $("#Description").val());
        formData.append("ItemPrice", $("#ItemPrice").val());
        formData.append("ImagePath", $("#ImagePath").get(0).files[0]);

        $.ajax({
            async: true,
            dataType: 'JSON',
            type: 'Post',
            contentType: false,
            processData: false,
            url: '/Item/Index',
            data: formData,
            success: function (data) {
                if (data.Success) {
                    alert(data.Message);
                    ResultItem();
                }
            },
            error: function () {
                alert("There is some Problem to add item");
            }
        });
    }
</script>

<div class="container">
    <div class="col-md-4">
        <div class=" form-grop">
            Category :
            @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.CategorySelectListItem, "Value", "text"),
    new { @class = "from-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Code :
            @Html.TextBoxFor(model => model.ItemCode, new { @class = "form-control" ,autocomplete="off"})
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Name :
            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Description :
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Item Price:
            @Html.TextBoxFor(model => model.ItemPrice, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>

    <div class="col-md-4">
        <div class=" form-grop">
            Image Path:
            @Html.TextBoxFor(model => model.ImagePath, new {type="file",@class = "form-control"})
        </div>
    </div>

    <div>
        <input type="button" value="Save" name="save" class="btn btn-primary" id="btnSave"/>
        &nbsp;
        <input type="button" value="Reset" name="reset" class="btn btn-danger" />

    </div>

</div>