<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Electro Shopping</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" language="javascript">

        function DisableBackButton() {
            window.history.forward()
        }
        DisableBackButton();
        window.onload = DisableBackButton;
        window.onpageshow = function (evt) { if (evt.persisted) DisableBackButton() }
        window.onunload = function () { void (0) }
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (Session["Username"] != null)
                {
                    @Html.ActionLink("Electro Shopping", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                }
                else
                {
                    if (Session["AdminUsername"] != null)
                    {
                        @Html.ActionLink("Electro Shopping", "Dashboard", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                    @Html.ActionLink("Electro Shopping", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Session["Username"] != null)
                    {
                        <li>@Html.ActionLink("Home", "Dashboard", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                            }
                    else
                    {
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    }
                </ul>
                <ul class="nav navbar-nav" style="float:right !important">
                    @if (Session["Username"] != null)
                    {
                        <li><p style="color:#fff;margin-top:15px"> Hello @Session["Username"]</p></li>
                        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>
                    }
                    else
                    {
                        if (Session["AdminUsername"] != null)
                        {
                            <li>@Html.ActionLink("Add Item", "Index", "Item")</li>
                            <li><p style="color:#fff;margin-top:15px"> Hello Admin @Session["AdminUsername"]</p></li>
                            <li>@Html.ActionLink("Logout", "Logout", "Admin")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                            <li>@Html.ActionLink("SignUp", "SignUp", "Home")</li>
                            <li>@Html.ActionLink("Login", "Index", "Home")</li>
                        }
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Electro Shopping</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
